<div class="card container mt-4">
  <div class="card-body">
    <nav class="navbar">
      <p class="fs-1 fw-bolder">Clientes</p>
      <div class="back-button">
        <button type="button" class="btn btn-danger" (click)="onBack()"><b>Voltar</b></button>
      </div>
    </nav>

    <div class="column-flex mat-elevation-z8">
      <app-clients-list *ngIf="clients$ | async as clients; else loading"
        [clients]="clients"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
      ></app-clients-list>


      <ng-template #loading>
        <div class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-template>


    </div>

  </div>
</div>
