<div class="card container mt-4 background-secondary">
  <div class="card-body">
    <nav class="navbar rounded mb-2">
      <p class="fs-1 fw-bolder ms-2">Clientes</p>
      <div aria-label="NavBar-Actions">
        <button type="button" class="btn btn-primary background-primary border" (click)="onAdd()">Novo</button>
        <button type="button" class="btn btn-primary background-primary border" (click)="refresh()">Atualizar</button>
        <button type="button" class="btn btn-danger background-primary border" (click)="onBack()">Voltar</button>
      </div>
    </nav>

    <div class="column-flex mat-elevation-z8">
      <app-clients-list *ngIf="clients$ | async as clients; else loading"
        [clients]="clients"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
      ></app-clients-list>

      <ng-template #loading>
        <div class="d-flex align-items-center">
          <strong>Carregando cursos...</strong>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
      </ng-template>


    </div>

  </div>
</div>
