<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Clients</mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-radio-group aria-label="Gender" class="gender-button" >
        <mat-radio-button value="M" checked>Masculino</mat-radio-button>
        <mat-radio-button value="F">Feminino</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="full-width">
        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="District" formControlName="district">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Reference" formControlName="reference">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">Cancel</button>
  </mat-card-actions>

</mat-card>
