<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" class="margin">Clients</mat-toolbar>

    <form [formGroup]="clientForm" class="min-width">
      <mat-form-field class="full-width">
        <input formControlName="name" matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-radio-group formControlName="gender" aria-label="Gender" class="gender-button" >
        <mat-radio-button value="M" checked>Masculino</mat-radio-button>
        <mat-radio-button value="F">Feminino</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="full-width">
        <input matInput formControlName="phoneNumber" placeholder="Celular" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput formControlName="neighbourhood" placeholder="Bairro" formControlName="neighbourhood">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput formControlName="reference" placeholder="Referência" formControlName="reference">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  </mat-card-actions>

</mat-card>
