mat-card {
  width: 600px;
  margin: 2em auto;
  text-align: center;
}

.full-width{
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.btn-space {
  margin-left: 5px;
}

.actions-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender-button {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 18px;
}

.margin {
  margin-bottom: 40px;
}
