.alert {
  margin: 0;
}

.background-primary {
  background-color: #2D4263;
}

.background-secondary {
  background-color: #ECDBBA;
}

.background-terciary {
  background-color: #C84B31;
}
