<mat-table [dataSource]="clients">
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar um cliente" (click)="onAdd()" class=add-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let client" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar Curso" (click)="onEdit(client)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover Curso" (click)="onDelete(client)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.name }}</mat-cell>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.gender }}</mat-cell>
  </ng-container>

  <!-- Phone Number Column -->
  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.phoneNumber }}</mat-cell>
  </ng-container>

  <!-- neighbourhood Column -->
  <ng-container matColumnDef="neighbourhood">
    <mat-header-cell *matHeaderCellDef>neighbourhood</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.neighbourhood }}</mat-cell>
  </ng-container>

  <!-- Reference Column -->
  <ng-container matColumnDef="reference">
    <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.reference }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
